input {
    border: 1px solid #ddd;
}
textarea {
    border: 1px solid #ddd;
}

input[type="submit"] {
    background-color: #111430;
    color: #fff;
    border: none;
    width: 150px;
}

input[type="file"] {
    border: 1px solid #009444;
    color: #009444;
    padding: 8px;
}

.form-main span {
    color: red;
    margin-left: 7px;
}

select#selectService {
    width: 100%;
    margin: 7px!important;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;

}

input.input-disabled {
    background-color: #eef;
}